<div ng-controller="BookedItemsController as bCtrl">
	<h2>Your Bookings</h2>
	
	<!-- Template for each booked item -->
	<div class="thumbnail" ng-repeat="item in bCtrl.bookedItems">
		<img class="img-responsive" ng-src="images/{{item.travelPackage.image}}"
			style="display: block;">
		<div class="caption">
			<h3>{{item.travelPackage.title}}</h3>
			<p>{{item.travelPackage.description}}</p>
			<h4>${{item.travelPackage.price}}</h4>
			<p>
				<a href="" ng-click="bCtrl.cancelBooking(item.booking.bookingId)" class="btn btn-danger" role="button">Cancel Booking</a>
			</p>
		</div>
	</div>
	
</div>
